{% extends './base.html' %}

{% block content %}
<div class="container border py-3 px-3 rounded">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    {% for plat in plat %}
      <div class="col mb-4">
        <div class="card h-100 d-flex flex-column">
          <img src="{{ plat.image }}" class="card-img-top" alt="{{ plat.nom_plat }}">
          <div class="card-body">
            <h5 class="card-title pb-2" id="nom{{plat.id}}">{{ plat.nom_plat }}</h5>
            <p class="card-text">{{ plat.description|truncatechars:100 }}</p> <!-- n'affiche que les 100 premiers caractères-->
            <p class="card-text" style="color: brown;">Prix : <span id="prix{{plat.id}}">{{ plat.prix }}</span> FCFA</p>
          </div>
          <div class="card-footer">
            <a href="{{ plat.id }}" class="btn btn-primary">Voir</a>
            <a href="#" class="btn btn-success ms-2 ajouter_panier" id="{{ plat.id }}" style="background-color: green;">Ajouter au panier</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- page de navigation -->

  <div class="row mt-4">
    <nav aria-label="page de navigation">
      <ul class="pagination align-item-center justify-content-center">
        {% if plat.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page = {{ plat.previous_page_number }}">Précédent</a>
          </li>
        {% endif %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">{{ plat.number }}</a>
        </li>
        {% if plat.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ plat.next_page_number }}">Suivant</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <!-- page de navigation -->
 
</div>
{% endblock %}


{% block js %}

<script type="text/javascript">
  $(document).ready(function() {

    // initialisation de la variable panier
      if(localStorage.getItem('panier') == null){
        var panier = {};
      }else{
        panier = JSON.parse(localStorage.getItem('panier'));
      }
      
    // lorsqu'on clique sur le bouton
      $(document).on('click', '.ajouter_panier', function(){
        var id_plat = this.id.toString(); // On recupère l'identifiant du produit sur leqeul on a cliqué sous forme de string
        if(panier[id_plat] != undefined){ // Si le produit existe deja dans le panier, on incremente sa quantité
          var quantite = panier[id_plat][0]+1;
          panier[id_plat][0]=quantite;
        }else{
          quantite=1;
          nom = document.getElementById("nom"+id_plat).innerHTML;
          prix = document.getElementById("prix"+id_plat).innerHTML;
          panier[id_plat]=[quantite, nom, prix];
        }
        localStorage.setItem('panier', JSON.stringify(panier)); // on envoi panier dans le localStorage
        var qte_panier = Object.keys(panier).length;
        $('#panier_menu').text("Panier("+qte_panier+")");
        let modal_var = [];
        for(var tmp in panier){
          modal_var += panier[tmp][1]+"--------> Quantité * "+panier[tmp][0]+"</br>";
          $('#modal_body').html(modal_var);
        }
      })
  
      // rafraichissement du panier et du modal chaque 50 milliseconde
      setInterval(function(){
        $('#panier_menu').text("Panier("+Object.keys(panier).length+")");
        let modal_var = [];
        for(let tmp in panier){
          modal_var += panier[tmp][1]+"--------> Quantité * "+panier[tmp][0]+"</br>";
          $('#modal_body').html(modal_var);
        }
      }, 50);
  
      // vider le panier 
  
      $("#remise_a_zero").on('click', function(){
        if(localStorage.length != 0){
          localStorage.clear();
          $('#modal_body').html("");
          $('#panier_menu').text("Panier("+localStorage.length+")");
          location.reload();
        }
      })
    })
</script>

{% endblock %}
